body {
    margin: 0;
    padding: 0;
    justify-content: center;
}

.logo {
    color: white;
    height: 5%;
    display: block;
    background-color: white;
}
.login-side-bar {
    top: 0;
    z-index: 3;
}

.btnManager {
    display: block;
    margin-top: 2rem;
    height: 8%;
    border-bottom: 2px solid black!important;
    padding-top: 30%;
}

.btn-logout {
    margin-top: 0.5rem;
    margin-right: 1rem;
    top: 0;
    right: 0;
    float: right;
    position: absolute;
    border: none;
}

.leftBar {
    width: 6rem;
    height: 100%;
    background: #333a3f;
    position: fixed;
    text-align: center;
    top: 0;
}

.topBar {
    width: 100%;
    height: 5%;
    background: #333a3f;
    position: fixed;
    top: 0;
}

.displayStartPoint {
    margin: 4% 1% 0 6%;
}

.form {
    text-align: center;
    width: 30rem;
    color: white;
    font-weight: bold;
    align-self: center;
    border-radius: 1rem;
    height: 30rem;
    display: flex;
    justify-content: center;
}
.register {
    text-align: center;
    width: 30rem;
    font-weight: bold;
    align-self: center;
    border-radius: 1rem;
    height: 30rem;

    display: flex;
    justify-content: center;
}
.form__wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
}
.form__content {
    align-self: center;
}
.nav-link {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.logout-button {
    width: 15rem;
    transition: 0.5s;
    position: fixed;
    bottom: 0;
    text-align: center;
}
.logout-button li a {
    padding: 8px 20px 8px 10px;
    color: white;
    display: block;
    position: relative;
}

#registration_form_email, #registration_form_plainPassword, #registration_form_role {
    border: 1px solid #d9e3e9;
    border-radius: 4px;
    max-width: 100%;
    padding: .469rem .75rem;
    font-size: 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

#registration_form_email:focus, #registration_form_plainPassword:focus, #registration_form_role:focus {
    border: 1px solid #a2b9ca;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
}

#registration_form_email, #registration_form_plainPassword, #registration_form_role {
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 4px;
}

#registration_form_email, #registration_form_plainPassword, #registration_form_role {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
}

input[type="color"] {
    min-height: 38px;
}
input[type="password"]{
    border: 1px solid #d9e3e9;
    border-radius: 4px;
    max-width: 100%;
    padding: .469rem .75rem;
    font-size: 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
.app-search #registration_form_email,
.app-search #registration_form_email:focus,
.app-search #registration_form_plainPassword,
.app-search #registration_form_plainPassword:focus,
.app-search #registration_form_role,
.app-search #registration_form_role:focus{
    border: 1px solid #e3eaef;
    font-size: 13px;
    height: 34px;
    color: #313a46;
    padding-left: 20px;
    padding-right: 40px;
    background: #e3eaef;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 30px;
    width: 200px;
}

#registration_form_email, #registration_form_plainPassword, #registration_form_role{
    width: 100% !important;
}

#dataTable {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.smileyAnswer {
    height: 60px;
    width: 60px;
    border: none;
    background: no-repeat;
}

.selected {
    background-color: lightblue !important;
}

.surveyPage, .surveyPage .smileyAnswer {
    display: none!important;
}

.surveyPageActive {
    display: block!important;
}

.surveyPage .formLabel {
    opacity: .9;
    height: 60px;
    width: 60px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    -webkit-filter: opacity(.5);
    -moz-filter: opacity(.5);
    filter: opacity(.5);
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 8px;
}

.range-slider__range {
    -webkit-appearance: none;
    width: calc(50% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #555;
    margin-top: -5px;
    position: relative;
    cursor: pointer;
}

.formLabel:hover {
    -webkit-filter: opacity(1);
    -moz-filter: opacity(1);
    filter: opacity(1);
}

input[type=radio]:checked+label {
    filter: opacity(1);
}

.loader, .loader:before, .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #02c0ce;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before, .loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.loadingDiv {
    position:absolute;;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#f3f6f8;
}

.green__dot {
    height: 15px;
    width: 15px;
    background: #3bb78f linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
    border-radius: 50%;
    display: inline-block;
}

.red__dot {
    height: 15px;
    width: 15px;
    background: #bd4f6c linear-gradient(326deg, #bd4f6c 0%, #d7816a 74%);
    border-radius: 50%;
    display: inline-block;
}

.amount-of-surveys {
    height: 55vw;
    overflow: scroll;
}

.amount-of-devices {
    height: 55vw;
    overflow: scroll;
}

.menu_buttons {
    position: fixed;
    bottom: 0;
}

.menu_buttons a {
    text-decoration: none;
    color: white;
}

.menu_buttons_button {
    display: block;
    padding: 5px;
    text-align: center;
    color: white;
    width:240px;
}

.flash-success {
    text-align: center;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.flash-error-login, .flash-succes-login {
    text-align: center;
    color: #fff;
    margin-right: 540px;
    background-color: #c75347;
    border-color: #c7000a;
    z-index: 2;
}

.flash-succes-login {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.flash-error {
    text-align: center;
    color: #fff;
    background-color: #c75347;
    border-color: #c7000a;
    z-index: 2;
}

.flash-delete {
    text-align: center;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
}

.btn-danger{
    cursor: pointer;
}

#mainSurvey {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
    .flash-error-login, .flash-succes-login {
        z-index: 4;
        margin: 0;
    }
}
.checkbox{
    margin-left: 1rem;
    margin-top: 1rem;
}
.survey__title{
    text-align: center;
    letter-spacing: 5px;
    font-size: 60px;
}