{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="accountbg" style="background: url('{{ asset('images/wallpaper.jpg') }}');background-size: cover;"></div>
    <div class="wrapper-page account-page-full login-side-bar">
        <div class="card">
            <div class="card-block">
                <div class="account-box">
                    <div class="card-box p-5">
                        <h2 class="text-uppercase text-center pb-4">
                            <a href="{{ path('login') }}" class="text-success">
                                <span><img src="{{ asset('images/mediatastisch-logo-met-tekst.png') }}" alt="" height="100"></span>
                            </a>
                        </h2>
                        <form class="" method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <div class="form-group m-b-20 row">
                                <div class="col-12">
                                    <label for="username">Email address</label>
                                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <a href="{{ path('newUser') }}" class="text-muted float-right"><small>Forgot your password?</small></a>
                                    <label for="password">Password</label>
                                    <input type="password" id="password" name="_password" required class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">

                                    <div class="checkbox checkbox-custom">
                                        <input id="remember" type="checkbox" checked="">
                                        <label for="remember">
                                            Remember me
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group row text-center">
                                <div class="col-12">
                                    <button class="btn btn-primary" type="submit">
                                        Sign in
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="row m-t-50">
                            <div class="col-sm-12 text-center">
                                <p class="text-muted">Don't have an account? <a href="{{ path('manager') }}" class="text-dark ml-1"><b>Sign Up</b></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-t-40 text-center">
            <p class="account-copyright">2019 © Mediatastisch <span class="d-none d-sm-inline-block"> - <a href="https://mediatastisch.nl/" target="_blank"> mediatastisch.nl </a></span></p>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/jquery.js') }}"></script>
{% endblock %}