{% extends 'pages/manager.html.twig' %}
{% block title %}{% endblock %}

{% block display %}
    <div class="content-page">
        <!-- Start Top Bar -->
        <div class="topbar">
            <nav class="navbar-custom">
                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left disable-btn">
                            <i class="fa fa-bars"></i>
                        </button>
                    </li>
                    <li>
                        <div class="page-title-box">
                            <h4 id="managerId" class="panelTitle"></h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">View, edit or delete Users</li>
                            </ol>
                        </div>
                    </li>
                </ul>
            </nav>
        </div> <!-- Top Bar -->

        <!-- Start Page content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <h4 class="header-title">Show User</h4>
                            <p class="text-muted m-b-30">
                                <a href="{{ path('userPage') }}" class="btn btn-primary">Go back</a>
                            </p>
                            <table id="dataTable" class="table table-bordered dt-responsive nowrap">
                                <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Company</th>
                                    <th>Activation Code</th>
                                    <th>Deactivated</th>
                                    <th>Created Date</th>
                                    <th>Deleted Date</th>
                                    <th>Modified Date</th>
                                    <th>Created By</th>
                                    <th>Modified By</th>
                                    <th>Deleted By</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.companyId.companyName }}</td>
                                    <td>{{ user.activationCode }}</td>
                                    <td>{{ user.deactivated is empty ? "" : user.deactivated|date("m/d/Y") }}</td>
                                    <td>{{ user.createdDate is empty ? "" : user.createdDate|date("m/d/Y") }}</td>
                                    <td>{{ user.deletedDate is empty ? "" : user.deletedDate|date("m/d/Y") }}</td>
                                    <td>{{ user.modifiedDate is empty ? "" : user.modifiedDate|date("m/d/Y") }}</td>
                                    <td>{{ user.createdBy }}</td>
                                    <td>{{ user.modifiedBy }}</td>
                                    <td>{{ user.deletedBy }}</td>
                                    <td>{{ user.role }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Page content -->
    </div>

    <!-- Start Footer -->
    <footer class="footer">
        2018 - 2019 © Mediatastisch. <span class="d-none d-sm-inline-block"> - <a href="https://mediatastisch.nl/"
                                                                                  target="_blank"> mediatastisch.nl </a></span>
    </footer> <!-- Footer -->
{% endblock %}