{% extends 'pages/manager.html.twig' %}

{% block title %}Show Device{% endblock %}

{% block display %}
    <div class="content-page">
        <!-- Start Top Bar -->
        <div class="topbar">
            <nav class="navbar-custom">
                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left disable-btn">
                            <i class="fa fa-bars"></i>
                        </button>
                    </li>
                    <li>
                        <div class="page-title-box">
                            <h4 id="managerId" class="panelTitle"></h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Views a Device</li>
                            </ol>
                        </div>
                    </li>
                </ul>
            </nav>
        </div> <!-- Top Bar -->

        <!-- Start Page content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <h4 class="header-title">Show Device</h4>
                            <p class="text-muted m-b-30">
                                <a href="{{ path('devicePage') }}" class="btn btn-primary">Go back</a>
                            </p>
                            <table id="dataTable" class="table table-bordered dt-responsive nowrap">
                                <thead>
                                    <tr>
                                        <th>Device Id</th>
                                        <th>Device license</th>
                                        <th>Survey</th>
                                        <th>Device location</th>
                                        <th>Device company</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ device.deviceId }}</td>
                                        <td>{{ device.deviceLicense }}</td>
                                        {% if device.surveyId %}
                                        <td>{{ device.surveyId.surveyTitle }}</td>
                                        {% else %}
                                        <td> Undefined </td>
                                        {% endif %}
                                        {% if device.locationId !=NULL %}
                                            <td> {{ device.locationId.address }} </td>

                                            <td> {{ device.locationId.companyId.companyName }}</td>
                                        {% else %}
                                            <td> Undefined</td>

                                            <td> Undefined</td>
                                        {% endif %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Page content -->
    </div>

    <!-- Start Footer -->
    <footer class="footer">
        2018 - 2019 © Mediatastisch. <span class="d-none d-sm-inline-block"> - <a href="https://mediatastisch.nl/" target="_blank"> mediatastisch.nl </a></span>
    </footer> <!-- Footer -->
{% endblock %}