{% extends 'pages/manager.html.twig' %}

{% block title %}Register{% endblock %}

{% block display %}


<!-- Begin page -->
<div class="accountbg" style="background: url('{{ asset('images/wallpaper.jpg') }}');background-size: cover;"></div>

<div class="wrapper-page account-page-full">

    <div class="card">
        <div class="card-block">
            <div class="card-box p-5">
                <h2 class="text-uppercase text-center pb-4">
                    <a href="{{ path('login') }}" class="text-success">
                        <span><img src="{{ asset('images/mediatastisch-logo-met-tekst.png') }}" alt="" height="100"></span>
                    </a>
                </h2>
                <div class="account-box">
                    <div class="newDiv">
                        <div class="container">
                            <h2 style="text-align: center;">Register user</h2>
                            <div class="form-group">
                                {{ form_start(registrationForm) }}
                                {{ form_row(registrationForm.email) }} <br/>
                                <button class="btn btn-block btn-custom waves-effect waves-light mt-3">Register</button>
                                {{ form_end(registrationForm) }}
                            </div>
                        </div>
                    </div>

                    {#                    <div class="card-box p-5">#}


                    {#                        <form class="form-horizontal" action="#">#}

                    {#                            {{ form_start(registrationForm) }}#}
                    {#                            <div class="form-group row">#}

                    {#                                <div class="col-12">#}

                    {#                                    {{ form_row(registrationForm.email) }}#}


                    {#                                </div>#}
                    {#                            </div>#}

                    {#                            <div class="form-group row">#}
                    {#                                <div class="col-12">#}

                    {#                                    {{ form_row(registrationForm.plainPassword) }}#}
                    {#                                    <button class="btn btn-primary mt-3">Register</button>#}
                    {#                                </div>#}
                    {#                            </div>#}


                    {#                            <div class="form-group row">#}
                    {#                                <div class="col-12">#}

                    {#                                    <div class="checkbox checkbox-custom">#}
                    {#                                        <input id="remember" type="checkbox" checked="">#}
                    {#                                        <label for="remember">#}
                    {#                                            I accept <a href="#" class="text-custom">Terms and Conditions</a>#}
                    {#                                        </label>#}
                    {#                                    </div>#}

                    {#                                </div>#}
                    {#                            </div>#}

                    {#                            <div class="form-group row text-center">#}
                    {#                                <div class="col-12">#}
                    {#                                    <button class="btn btn-block btn-custom waves-effect waves-light mt-3">Register</button>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                            {{ form_end(registrationForm) }}#}
                    {#                        </form>#}

                    <div class="row m-t-50">
                        <div class="col-sm-12 text-center">
                            <p class="text-muted">Already have an account? <a href="{{ path('login') }}" class="text-dark ml-1"><b>Sign In</b></a>
                            </p>
                        </div>
                    </div>

                    {#                    </div>#}
                </div>

            </div>
        </div>
    </div>
        <div class="m-t-40 text-center">
            <p class="account-copyright">2019 © Mediatastisch <span class="d-none d-sm-inline-block"> - <a href="https://mediatastisch.nl/" target="_blank"> mediatastisch.nl </a></span></p>
        </div>

    </div>

    {% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/jquery.js') }}"></script>
{% endblock %}
