{% extends 'pages/manager.html.twig' %}

{% block title %}Location of {{ Location.companyId.companyName }}{% endblock %}

{% block display %}
    <div class="content-page">
        <!-- Start Top Bar -->
        <div class="topbar">
            <nav class="navbar-custom">
                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left disable-btn">
                            <i class="fa fa-bars"></i>
                        </button>
                    </li>
                    <li>
                        <div class="page-title-box">
                            <h4 id="managerId" class="panelTitle"></h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Shows a location</li>
                            </ol>
                        </div>
                    </li>
                </ul>
            </nav>
        </div> <!-- Top Bar -->

        <!-- Start Page content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <h4 class="header-title">Show Location</h4>
                            <p class="text-muted m-b-30">
                                <a href="{{ path('locationPage') }}" class="btn btn-primary">Go back</a>
                            </p>
                            <table id="dataTable" class="table table-bordered dt-responsive nowrap">
                                <thead>
                                <tr>
                                    <th>Sub location <br/>(Where a device could be standing)</th>
                                    <th>Address</th>
                                    <th>Postal Code</th>
                                    <th>City</th>
                                    <th>Company</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ Location.subLocation }}</td>
                                        <td>{{ Location.address }}</td>
                                        <td>{{ Location.postalCode }}</td>
                                        <td>{{ Location.city }}</td>
                                        <td>{{ Location.companyId.companyName }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Page content -->
    </div>

    <!-- Start Footer -->
    <footer class="footer">
        2018 - 2019 © Mediatastisch. <span class="d-none d-sm-inline-block"> - <a href="https://mediatastisch.nl/" target="_blank"> mediatastisch.nl </a></span>
    </footer> <!-- Footer -->
{% endblock %}