{% extends 'pages/manager.html.twig' %}

{% block title %}Companies{% endblock %}

{% block display %}
    <div class="content-page">
        <!-- Start Top Bar -->
        <div class="topbar">
            <nav class="navbar-custom">
                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left disable-btn">
                            <i class="fa fa-bars"></i>
                        </button>
                    </li>
                    <li>
                        <div class="page-title-box">
                            <h4 id="managerId" class="panelTitle"></h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">View, edit or delete Companies</li>
                            </ol>
                        </div>
                    </li>
                </ul>
            </nav>
        </div> <!-- Top Bar -->

        <!-- Start Page content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <h4 class="header-title">View / Edit / Delete</h4>
                            <p class="text-muted m-b-30">
                                <a href="{{ path('companyPage') }}/new" class="btn btn-primary">New Company</a>
                            </p>
                            {% if companies %}
                                <table id="dataTable" class="table table-bordered dt-responsive nowrap">
                                    <thead>
                                        <tr>
                                            <th>Company Title</th>
                                            <th colspan="1">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for company in companies %}
                                            {% if company.deactivated != 1 %}
                                            <tr>
                                                <td>{{ company.companyName }}</td>
                                                <td colspan="3">
                                                    <a href="{{ path('companyPage') }}/{{ company.companyId }}" class="btn btn-dark show">Show</a>

                                                    <a href="{{ path('companyPage') }}/edit/{{ company.companyId }}" class="btn btn-light edit">Edit</a>

                                                    <a href="{{ path('companyPage') }}/delete/{{ company.companyId }}-0" class="btn btn-danger">Delete</a>
                                                </td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>No Companies to display</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Page content -->
    </div>

    <!-- Start Footer -->
    <footer class="footer">
        2018 - 2019 © Mediatastisch. <span class="d-none d-sm-inline-block"> - <a href="https://mediatastisch.nl/" target="_blank"> mediatastisch.nl </a></span>
    </footer> <!-- Footer -->
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/sweetalert.js') }}"></script>
    <script src="{{ asset('js/jquery.sweet-alert.init.js') }}"></script>
    <script src="{{ asset('js/dataTables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>
{% endblock %}