{% extends 'pages/manager.html.twig' %}

{% block title %}Devices{% endblock %}

{% block display %}
    <div class="content-page">
        <!-- Start Top Bar -->
        <div class="topbar">
            <nav class="navbar-custom">
                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left disable-btn">
                            <i class="fa fa-bars"></i>
                        </button>
                    </li>
                    <li>
                        <div class="page-title-box">
                            <h4 id="managerId" class="panelTitle"></h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">View, edit or delete Devices</li>
                            </ol>
                        </div>
                    </li>
                </ul>
            </nav>
        </div> <!-- Top Bar -->

        <!-- Start Page content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <h4 class="header-title">View / Edit / Delete</h4>
                            <p class="text-muted m-b-30">
{#                                <a href="{{ path('devicePage') }}/enroll" class="btn btn-primary">New Device</a>#}
                                /devices/enroll creates a new device
                            </p>
                            {% if devices %}
                                <table id="dataTable" class="table table-bordered dt-responsive nowrap">
                                    <thead>
                                        <tr>
                                            <th> License key</th>
                                            <th> Active </th>
                                            <th> Location </th>
                                            <th> Company </th>
                                            <th colspan="1">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for device in devices %}
                                        {% if device.deactivated != 1 %}
                                            {% if device.locationId == NULL %}

                                            {% else %}
                                        <tr>
                                            <td>{{ device.deviceLicense }}</td>
                                            <td>
                                            {% if device.isActive == NULL %}
                                                <span class="red__dot"></span>
                                            {% else %}
                                                <span class="green__dot"></span>
                                            {% endif %}
                                            </td>
                                            {% if device.locationId !=NULL %}
                                            <td> {{ device.locationId.address }} </td>

                                            <td> {{ device.locationId.companyId.companyName }}</td>
                                            {% else %}
                                            <td> Undefined</td>

                                            <td> Undefined</td>
                                            {% endif %}
                                            <td colspan="3">
                                                <a href="{{ path('devicePage') }}/{{ device.deviceId }}" class="btn btn-dark">Show</a>

                                                <a href="{{ path('devicePage') }}/edit/{{ device.deviceId }}" class="btn btn-light">Edit</a>

                                                <a href="{{ path('devicePage') }}/delete/{{ device.deviceId }}-0" class="btn btn-danger">Delete</a>
                                            </td>
                                        </tr>
                                                {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>No Devices to display</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Page content -->
    </div>

    <!-- Start Footer -->
    <footer class="footer">
        2018 - 2019 © Mediatastisch. <span class="d-none d-sm-inline-block"> - <a href="https://mediatastisch.nl/" target="_blank"> mediatastisch.nl </a></span>
    </footer> <!-- Footer -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/sweetalert.js') }}"></script>
    <script src="{{ asset('js/jquery.sweet-alert.init.js') }}"></script>
    <script src="{{ asset('js/dataTables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>
{%  endblock %}