{% extends 'pages/manager.html.twig' %}

{% block title %}Locations{% endblock %}

{% block display %}
    <div class="content-page">
        <!-- Start Top Bar -->
        <div class="topbar">
            <nav class="navbar-custom">
                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left disable-btn">
                            <i class="fa fa-bars"></i>
                        </button>
                    </li>
                    <li>
                        <div class="page-title-box">
                            <h4 id="managerId" class="panelTitle"></h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">View, edit or delete Locations</li>
                            </ol>
                        </div>
                    </li>
                </ul>
            </nav>
        </div> <!-- Top Bar -->

        <!-- Start Page content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <h4 class="header-title">View / Edit / Delete</h4>
                            <p class="text-muted m-b-30">
                                <a href="{{ path('locationPage') }}/new" class="btn btn-primary">New location</a>
                            </p>
                            {% if locations %}
                                <table id="dataTable" class="table table-bordered dt-responsive nowrap">
                                    <thead>
                                        <tr>
                                            <th>Location Title</th>
                                            <th> Devices </th>
                                            <th> Sub locations (locations where the device can be standing)</th>
                                            <th colspan="1">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for location in locations %}
                                            {% if location.deactivated != 1 %}
                                            <tr>
                                                <td>{{ location.address }}</td>
                                                {%  if  devices %}
                                                <td>{{ devices|length }}</td>
                                                {% endif %}
                                                <td>{{ location.subLocation }}</td>
                                                <td colspan="3">
                                                    <a href="{{ path('locationPage') }}/{{ location.locationId }}" class="btn btn-dark">Show</a>

                                                    <a href="{{ path('locationPage') }}/edit/{{ location.locationId }}" class="btn btn-light">Edit</a>

                                                    <a href="{{ path('locationPage') }}/delete/{{ location.locationId }}-0" class="btn btn-danger">Delete</a>
                                                </td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>

                            {% else %}
                                <p>No Locations to display</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Page content -->
    </div>

    <!-- Start Footer -->
    <footer class="footer">
        2018 - 2019 © Mediatastisch. <span class="d-none d-sm-inline-block"> - <a href="https://mediatastisch.nl/" target="_blank"> mediatastisch.nl </a></span>
    </footer> <!-- Footer -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/sweetalert.js') }}"></script>
    <script src="{{ asset('js/jquery.sweet-alert.init.js') }}"></script>
    <script src="{{ asset('js/dataTables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>
{%  endblock %}