{% extends 'base.html.twig' %}

{% block title %}
    {% if is_granted('ROLE_ADMIN') %}
        Admin
    {% elseif is_granted('ROLE_SUPER_ADMIN') %}
        Super Admin
    {% else %}
        User
    {% endif %}
    Manager
{% endblock %}

{% block body %}
    <div id="wrapper">
    <div class="left side-menu">
        <div class="slimscroll-menu" id="remove-scroll">
            <div class="topbar-left">
                <a href="{{ path('manager') }}" class="logo">
                            <span>
                                <img src="{{ asset('images/mediatastisch-logo-met-tekst.png') }}" alt="" height="100">
                            </span>
                    <i>
                        <img src="{{ asset('images/mediatastisch-logo-met-tekst.png') }}" alt="" height="100">
                    </i>
                </a>
            </div>
            <br/>
            <div class="user-box">
                {% set session_values = app.session.get('session_values') %}
{#                <h5 style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ session_values['currentUserEmail'] }}</h5>#}
                <p class="text-muted">Status:
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        Super admin
                    {% elseif is_granted('ROLE_ADMIN') %}
                        Admin
                    {% else %}
                        User
                    {% endif %}</p>
            </div>
            <div id="sidebar-menu">

                <ul class="metismenu" id="side-menu">
                    <li><a href="{{ path('manager') }}"> Home </a></li>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li><a href="{{ path('companyPage') }}">Companies</a></li>
                        <li><a href="{{ path('userPage') }}">Users</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('locationPage') }}">Locations</a></li>
                        <li><a href="{{ path('devicePage') }}">Devices</a></li>
                        <li><a href="{{ path('devicePage') }}/new">Connect device</a></li>
                    {% endif %}
                    <li><a href="{{ path('surveys') }}">Surveys</a></li>
                    <li>
                        <ul class="logout-button btn-danger" aria-expanded="false">
                            <li class=""><a href="{{ path('logout') }}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="menu_buttons">
                    <a class="menu_buttons_button btn-primary" href="{{ path('editAccount') }}">
                        Account Settings
                    </a>
                    <a class="menu_buttons_button btn-danger" href="{{ path('logout') }}">
                        Logout
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    {% block display %}
        <div class="content-page">
            <div class="topbar">
                <nav class="navbar-custom">
                    <ul class="list-inline menu-left mb-0">
                        <li class="float-left">
                            <button class="button-menu-mobile open-left disable-btn">
                                <i class="fa fa-bars"></i>
                            </button>
                        </li>
                        <li>
                            <div class="page-title-box">
                                <h4 id="managerId" class="panelTitle"></h4>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item active">Welcome to mediatastisch admin panel!</li>
                                </ol>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>


            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card-box amount-of-surveys" id="amount-of-surveys">
                                <h4 class="header-title">Amount of surveys</h4>
                                {% if surveys %}
                                    <h2 class="m-b-20">{{ surveys|length }}</h2>
                                {% endif %}
                                <p> Sorted by: Newest date</p>

                                {% for survey in surveys|reverse %}
                                    <div class="col-lg-12">
                                        <div class="company-card card-box">
                                            <hr>
                                            <div class="company-detail">
                                                <h4 class="mb-1">{{ survey.surveyTitle }}</h4>
                                                <span> Version: {{ survey.surveyVersion }}</span>
                                                <br/>
                                                <h5 class="text-muted font-normal">
                                                        <span class="float-right text-danger">
                                                            <a href="surveys/{{ survey.surveyId }}" target="_blank"
                                                               class="">Show</a>
                                                        </span>
                                                </h5>
                                                <span>{{ survey.createdDate|date("d F Y") }}</span>
                                            </div>
                                            <div class="text-center mt-5">
                                                <h5 class="font-normal text-muted">
                                                    <b> Number of questions answered in: </b>
                                                    {{ answeredQuestion|length }}
                                                </h5>
                                            </div>
                                            <div class="text-center company-1"></div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="card-box amount-of-devices" id="amount-of-devices">
                                <h4 class="header-title">Active devices</h4>
                                <p class="text-muted">You can quickly see all the devices that are turned on at the moment</p>
                                {% if devices %}
                                    {% for device in devices %}
                                        {% if device.isActive != NULL %}
                                            <div class="col-lg-12">
                                                <div class="company-card card-box">
                                                    <hr>
                                                    <div class="company-detail">
                                                        <h4 class="mb-1">{{ device.deviceLicense }}</h4>
                                                        <span> {{ device.createdDate|date("d F Y") }}</span>
                                                        <br/>
                                                        <p> Active:
                                                            {% if device.isActive == NULL %}
                                                                <span class="red__dot"></span>
                                                            {% else %}
                                                                <span class="green__dot"></span>
                                                            {% endif %}
                                                        </p>
                                                        <h5 class="text-muted font-normal">
                                                            <span class="float-right text-danger"></span>
                                                        </h5>
                                                        <h5 class="text-muted font-normal">
                                                        <span class="float-right text-danger">
                                                            <a href="devices/{{ device.deviceId }}" target="_blank"
                                                               class="">Show</a>
                                                        </span>
                                                        </h5>
                                                    </div>
                                                    <div class="text-center mt-5">
                                                        <h5 class="font-normal text-muted">
                                                            <b> Amount of surveys filled in on this device: </b>
                                                        </h5>
                                                    </div>
                                                    <div class="text-center company-2"></div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {#                                    <button type="button" class="btn btn-light waves-effect waves-light btn-sm" id="chaining-alert">Click me</button>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <footer class="footer">
            2018 - 2019 © Mediatastisch. <span class="d-none d-sm-inline-block"> - <a href="https://mediatastisch.nl/"
                                                                                      target="_blank"> mediatastisch.nl </a></span>
        </footer>
    {% endblock %}
{% endblock %}