{% extends 'pages/manager.html.twig' %}

{% block title %}Surveys{% endblock %}

{% block display %}
    <div class="content-page">
        <!-- Start Top Bar -->
        <div class="topbar">
            <nav class="navbar-custom">
                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left disable-btn">
                            <i class="fa fa-bars"></i>
                        </button>
                    </li>
                    <li>
                        <div class="page-title-box">
                            <h4 id="managerId" class="panelTitle"></h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">View, edit or delete Surveys</li>
                            </ol>
                        </div>
                    </li>
                </ul>
            </nav>
        </div> <!-- Top Bar -->

        <!-- Start Page content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <h4 class="header-title">View / Edit / Delete</h4>
                            <p class="text-muted m-b-30">
                                <a href="{{ path('newSurvey') }}" class="btn btn-primary">New Survey</a>
                            </p>
                            {% if surveys %}
                                <table id="dataTable" class="table table-bordered dt-responsive nowrap">
                                    <thead>
                                        <tr>
                                            <th>Survey Title</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for survey in surveys %}
                                            <tr>
                                                <td>{{ survey.surveyTitle }}</td>
                                                <td>
                                                    <a href="{{ path('surveys') }}/{{ survey.surveyId }}" class="btn btn-dark">Edit content</a>

{#                                                    <a href="{{ path('surveys') }}/NPS/{{ survey.surveyId }}" class="btn btn-dark">Net promoter score</a>#}

                                                    <a href="{{ path('surveys') }}/results/{{ survey.surveyId }}" class="btn btn-dark">Show results</a>

                                                    <a href="{{ path('surveys') }}/display/{{ survey.surveyId }}" class="btn btn-primary">Display </a>

                                                    <a href="{{ path('surveys') }}/edit/{{ survey.surveyId }}" class="btn btn-light">Edit</a>

                                                    <a class="btn btn-danger text-white" onclick="del({{ survey.surveyId }}, 'surveys')">Delete</a>
                                                </td>
                                            </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>No surveys to display</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Page content -->
    </div>

    <!-- Start Footer -->
    <footer class="footer">
        2018 - 2019 © Mediatastisch <span class="d-none d-sm-inline-block"> - <a href="https://mediatastisch.nl/" target="_blank"> mediatastisch.nl </a></span>
    </footer> <!-- Footer -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/sweetalert.js') }}"></script>
    <script src="{{ asset('js/jquery.sweet-alert.init.js') }}"></script>
    <script src="{{ asset('js/dataTables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>
{%  endblock %}