{% extends 'pages/manager.html.twig' %}

{% block title %}Users{% endblock %}
{% block display %}
    <div class="content-page">
        <!-- Start Top Bar -->
        <div class="topbar">
            <nav class="navbar-custom">
                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left disable-btn">
                            <i class="fa fa-bars"></i>
                        </button>
                    </li>
                    <li>
                        <div class="page-title-box">
                            <h4 id="managerId" class="panelTitle"></h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">View, edit or delete Users</li>
                            </ol>
                        </div>
                    </li>
                </ul>
            </nav>
        </div> <!-- Top Bar -->

        <!-- Start Page content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <h4 class="header-title">View / Edit / Delete</h4>
                            <p class="text-muted m-b-30">
                                <a href="{{ path('userPage') }}/new" class="btn btn-primary">New User</a>
                            </p>
                            {% if users %}
                                <table id="dataTable" class="table table-bordered dt-responsive nowrap">
                                    <thead>
                                        <tr>
                                            <th>Email</th>
                                            <th>Deactivated</th>
                                            <th>Created By</th>
                                            <th>Created Date</th>
                                            <th>Modified By</th>
                                            <th>Modified Date</th>
                                            <th>Deleted By</th>
                                            <th>Deleted Date</th>
                                            <th>Role</th>
                                            <th colspan="1">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.deactivated is empty ? "false" : "true" }}</td>
                                            <td>{{ user.createdBy }}</td>
                                            <td>{{ user.createdDate|date("m/d/Y") }}</td>
                                            <td>{{ user.modifiedBy }}</td>
                                            <td>{{ user.modifiedDate is empty ? "" : user.modifiedDate|date("m/d/Y") }}</td>
                                            <td>{{ user.deletedBy }}</td>
                                            <td>{{ user.deletedDate is empty ? "" : user.deletedDate|date("m/d/Y") }}</td>
                                            <td>
                                                {% if user.role == 'ROLE_SUPER_ADMIN' %}
                                                <p>Super Admin</p>
                                                {% elseif user.role == 'ROLE_ADMIN' %}
                                                    <p>Admin</p>
                                                {% elseif user.role == 'ROLE_USER' %}
                                                    <p>User</p>
                                                {% else %}
                                                    <p>None</p>
                                                {% endif %}
                                            </td>
                                            <td class="text-center" colspan="3">
                                                <a href="{{ path('userPage') }}/{{ user.userId }}" class="btn btn-dark">Show</a>

                                                <a href="{{ path('userPage') }}/edit/{{ user.userId }}" class="btn btn-light">Edit</a>
                                                {% if user.email != currentUser.email %}
                                                    {% if user.deactivated %}
                                                        <a href="{{ path('userPage') }}/delete/{{ user.userId }}-1" class="btn btn-success">Activate</a>
                                                    {% else %}
                                                        <a href="{{ path('userPage') }}/delete/{{ user.userId }}-0" class="btn btn-danger">Deactivate</a>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>No users to display</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Page content -->
    </div>


    <!-- Start Footer -->
    <footer class="footer">
        2018 - 2019 © Mediatastisch. <span class="d-none d-sm-inline-block"> - <a href="https://mediatastisch.nl/" target="_blank"> mediatastisch.nl </a></span>
    </footer> <!-- Footer -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/sweetalert.js') }}"></script>
    <script src="{{ asset('js/jquery.sweet-alert.init.js') }}"></script>
    <script src="{{ asset('js/dataTables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>
{% endblock %}