{% extends 'pages/manager.html.twig' %}

{% block title %}Survey Results{% endblock %}

{% block display %}
    <div class="content-page">
        <!-- Start Top Bar -->
        <div class="topbar">
            <nav class="navbar-custom">
                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left disable-btn">
                            <i class="fa fa-bars"></i>
                        </button>
                    </li>
                    <li>
                        <div class="page-title-box">
                            <h4 id="managerId" class="panelTitle">Survey Results</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active"></li>
                            </ol>
                        </div>
                    </li>
                </ul>
            </nav>
        </div> <!-- Top Bar -->

        <!-- Start Page content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <h4 class="header-title">View the survey results</h4>
                            <p class="text-muted m-b-30">
                                <a href="{{ path('surveys') }}" class="btn btn-primary">Go Back</a>
                            </p>
                            {%  if surveyResults %}
                                <table id="dataTable" class="table table-bordered dt-responsive nowrap">
                                    <thead>
                                    <tr>
                                        <th>Page number</th>
                                        <th>Page title</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for page in pages %}
                                        <tr>
                                            <td>{{ page.pageNumber }}</td>
                                            <td>{{ page.pageTitle }}</td>
                                            <td>
                                                <a href="{{ page.surveyId.__ToInt() }}/page/{{ page.pageId }}" class="btn btn-dark">Show Results</a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <p>Geen page</p>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>No results to display</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Page content -->
    </div>

    <!-- Start Footer -->
    <footer class="footer">
        2018 - 2019 © Mediatastisch. <span class="d-none d-sm-inline-block"> - <a href="https://mediatastisch.nl/" target="_blank"> mediatastisch.nl </a></span>
    </footer> <!-- Footer -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/sweetalert.js') }}"></script>
    <script src="{{ asset('js/jquery.sweet-alert.init.js') }}"></script>
    <script src="{{ asset('js/dataTables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>
{%  endblock %}