{% extends 'base.html.twig' %}

{% block title %}Displaying survey{% endblock %}

{% block body %}
    <p class="survey__title"> Survey title: {{ Survey.surveyTitle }} </p>
    <div id="mainSurvey" class="container-fluid text-center"
        {% if Survey.surveyBackgroundPath %}
             style="color:white;text-shadow:1px 1px black;background-image: url('{{ asset('images/upload/' ~ Survey.surveyBackgroundPath) }}')">
        {% endif %}
        <br/>

        <p> Survey description: {{ Survey.surveyDescription }}</p>
        <p> Survey version: {{ Survey.surveyVersion }}</p>

        <div class="row">

            <div class="col"></div>

            <div class="col-5">
                <form id="generatedSurvey" role="form" action="{{ path('surveys') }}/display/{{ Survey.surveyId }}/{{ Session.sessionId }}/submit/end" method="post">
                    {% for page in Page %}
                        {% if page.pageNumber == 1 %}
                            <div id="surveyPage{{ page.pageNumber }}" class="surveyPage surveyPageActive">
                        {% else %}
                            <div id="surveyPage{{ page.pageNumber }}" class="surveyPage">
                        {% endif %}
                            <h2>{{ page.pageNumber }} - {{ page.pageTitle }}</h2>
                            <br><br>
                            {% for questions in Question if questions.pageId.__toInt() == page.pageId %}
                                <h4>{{ questions.questionNumber }} - {{ questions.questionTitle }}</h4>


                                {% if questions.answerTypes == "OpenQuestion" %}
                                    <input type="text" id="formOpenQuestion" name="{{ page.pageId }}form{{ questions.questionId }}form{{ questions.answerId }}"/>
                                {% endif %}
                                {% if questions.answerTypes == "Closed" %}
                                    <p>{{ questions.answerId }}</p>
                                {% endif %}
                                {% if questions.answerTypes == "Scale" %}
                                    <div class="range-slider">
                                        <input id="rangeSlider{{ questions.answerId }}" class="range-slider__range" type="range" onfocus="setValue('rangeSlider{{ questions.answerId }}')" value="0" min="0" max="5" name="{{ page.pageId }}form{{ questions.questionId }}form{{ questions.answerId }}">
                                        <span class="range-slider__value">0</span>
                                    </div>
                                {% endif %}
                                {% if questions.answerTypes == "NetPromoterScore" %}
                                    <div class="range-slider">
                                        <input id="rangeSlider{{ questions.answerId }}" class="range-slider__range" type="range" onfocus="setValue('rangeSlider{{ questions.answerId }}')" value="0" min="0" max="10" name="{{ page.pageId }}form{{ questions.questionId }}form{{ questions.answerId }}">
                                        <span class="range-slider__value">0</span>
                                    </div>
                                {% endif %}
                                {% if questions.answerTypes == "MultipleChoice" %}
                                    <p>{{ questions.answerId }}</p>
                                {% endif %}
                                {% if questions.answerTypes == "ImagePath" %}
                                    <img src="{{ asset('images/upload/' ~ questions.answerId) }}" height="200px" alt="error" name="{{ page.pageId }}form{{ questions.questionId }}form{{ questions.answerId }} ">
                                    <input type="checkbox" id="formCheckBox" value="{{ questions.answerId }}" name="{{ page.pageId }}form{{ questions.questionId }}form{{ questions.answerId }}">
                                    <br>
                                {% endif %}
                                {% if questions.answerTypes == "Smiley" %}
                                    <input type="radio" id="smiley1" class="smileyAnswer" value="unhappy" name="{{ page.pageId }}form{{ questions.questionId }}form{{ questions.answerId }}">
                                    <label class="formLabel" for="smiley1" style="background-image: url('{{ asset('images/smileys/1.png') }}')"></label>
                                    <input type="radio" id="smiley2" class="smileyAnswer" value="dislike" name="{{ page.pageId }}form{{ questions.questionId }}form{{ questions.answerId }}">
                                    <label class="formLabel" for="smiley2" style="background-image: url('{{ asset('images/smileys/2.png') }}')"></label>
                                    <input type="radio" id="smiley3" class="smileyAnswer" value="meh" name="{{ page.pageId }}form{{ questions.questionId }}form{{ questions.answerId }}">
                                    <label class="formLabel" for="smiley3"style="background-image: url('{{ asset('images/smileys/3.png') }}')"></label>
                                    <input type="radio" id="smiley4" class="smileyAnswer" value="happy" name="{{ page.pageId }}form{{ questions.questionId }}form{{ questions.answerId }}">
                                    <label class="formLabel" for="smiley4" style="background-image: url('{{ asset('images/smileys/4.png') }}')"></label>
                                    <input type="radio" id="smiley5" class="smileyAnswer" value="very happy" name="{{ page.pageId }}form{{ questions.questionId }}form{{ questions.answerId }}">
                                    <label class="formLabel" for="smiley5" style="background-image: url('{{ asset('images/smileys/5.png') }}')"></label>
                                {% endif %}

                                {% for answer in Answers  if answer.questionId.__toInt() == questions.questionId %}
{#                                    {% if answer.answerType == "OpenQuestion" %}#}
{#                                        <input type="text" id="formOpenQuestion" name="{{ page.pageId }}form{{ questions.questionId }}form{{ answer.answerId }}"/>#}
                                    {% if answer.questionId.answerTypes == "Closed" %}
                                        {{ answer.answerValue }}
                                        <input type="radio" value="{{ answer.answerValue }}" name="{{ page.pageId }}form{{ questions.questionId }}form{{ answer.answerId }}" onclick="gotoPage('surveyPage{{ answer.nextQuestion.pageId.pageNumber }}')"/> <br/>
                                    {% endif %}
{#                                    {% if answer.answerType == "Scale" %}#}
{#                                        <div class="range-slider">#}
{#                                            <input id="rangeSlider{{ answer.answerId }}" class="range-slider__range" type="range" onfocus="setValue('rangeSlider{{ answer.answerId }}')" value="0" min="0" max="5" name="{{ page.pageId }}form{{ questions.questionId }}form{{ answer.answerId }}">#}
{#                                            <span class="range-slider__value">0</span>#}
{#                                        </div>#}
{#                                    {% if answer.answerType == "NetPromoterScore" %}#}
{#                                        <div class="range-slider">#}
{#                                            <input id="rangeSlider{{ answer.answerId }}" class="range-slider__range" type="range" onfocus="setValue('rangeSlider{{ answer.answerId }}')" value="0" min="0" max="10" name="{{ page.pageId }}form{{ questions.questionId }}form{{ answer.answerId }}">#}
{#                                            <span class="range-slider__value">0</span>#}
{#                                        </div>#}
                                    {% if answer.questionId.answerTypes == "MultipleChoice" %}
                                        {{ answer.answerValue }}
                                        <input type="checkbox" id="formCheckBox" value="{{ answer.answerValue }}" name="{{ page.pageId }}form{{ questions.questionId }}form{{ answer.answerId }}"/><br/>
                                    {% endif %}
{#                                    {% if answer.answerType == "ImagePath" %}#}
{#                                        <img src="{{ asset('images/upload/' ~ answer.answerImagePath) }}" height="200px" alt="error" name="{{ page.pageId }}form{{ questions.questionId }}form{{ answer.answerId }} ">#}
{#                                        <input type="checkbox" id="formCheckBox" value="{{ answer.answerValue }}" name="{{ page.pageId }}form{{ questions.questionId }}form{{ answer.answerId }}">#}
{#                                        <br>#}
{#                                    {% elseif answer.answerType == "Smiley" %}#}
{#                                        <input type="radio" id="smiley1" class="smileyAnswer" value="unhappy" name="{{ page.pageId }}form{{ questions.questionId }}form{{ answer.answerId }}">#}
{#                                        <label class="formLabel" for="smiley1" style="background-image: url('{{ asset('images/smileys/1.png') }}')"></label>#}
{#                                        <input type="radio" id="smiley2" class="smileyAnswer" value="dislike" name="{{ page.pageId }}form{{ questions.questionId }}form{{ answer.answerId }}">#}
{#                                        <label class="formLabel" for="smiley2" style="background-image: url('{{ asset('images/smileys/2.png') }}')"></label>#}
{#                                        <input type="radio" id="smiley3" class="smileyAnswer" value="meh" name="{{ page.pageId }}form{{ questions.questionId }}form{{ answer.answerId }}">#}
{#                                        <label class="formLabel" for="smiley3"style="background-image: url('{{ asset('images/smileys/3.png') }}')"></label>#}
{#                                        <input type="radio" id="smiley4" class="smileyAnswer" value="happy" name="{{ page.pageId }}form{{ questions.questionId }}form{{ answer.answerId }}">#}
{#                                        <label class="formLabel" for="smiley4" style="background-image: url('{{ asset('images/smileys/4.png') }}')"></label>#}
{#                                        <input type="radio" id="smiley5" class="smileyAnswer" value="very happy" name="{{ page.pageId }}form{{ questions.questionId }}form{{ answer.answerId }}">#}
{#                                        <label class="formLabel" for="smiley5" style="background-image: url('{{ asset('images/smileys/5.png') }}')"></label>#}
{#                                    {% endif %}#}
                                    <br>

                                {% endfor %}
                                <br>

{#                                {% for answer in Answers if answer.questionId.__toInt() == questions.questionId %}#}
{#                                    <p>{{ answer.nextQuestion.questionTitle }}</p>#}

{#                                    <a href="#" class="btn btn-primary text-while" onclick="gotoPage('surveyPage{{ answer.nextQuestion.pageId.pageNumber }}')">Next Page</a>#}
{#                                {% endfor %}#}


                            {% endfor %}


                            <br>
                            {% if page.previousPage == 0 %}
                                <input class="btn btn-primary text-while" type="submit" formaction="{{ path('surveys') }}/display/{{ Survey.surveyId }}/{{ Session.sessionId }}/submit/restart" value="Restart Survey"/>
                            {% else %}
                                <a href="#" class="btn btn-primary text-while" onclick="gotoPage('surveyPage{{ page.previousPage }}')">Previous Page</a>
                            {% endif %}
                            {% if page.nextPage == 0 or NULL %}
                                <input class="btn btn-primary text-while" type="submit" value="Submit"/>
                            {% else %}
                                <a href="#" class="btn btn-primary text-while" onclick="gotoPage('surveyPage{{ page.nextPage }}')">Next Page</a>
                            {% endif %}
                            <br><br><br><br>
                        </div>
                    {% endfor %}
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/displaySurvey.js') }}"></script>

    <script>
        function timeChecker() {
            setInterval(function () {
                const storedTimeStamp = sessionStorage.getItem("lastTimeStamp");
                timeCompare(storedTimeStamp);
            }, 10000);
        }

        function timeCompare(timeString) {
            const currentTime = new Date();
            const pastTime = new Date(timeString);
            const timeDifference = currentTime - pastTime;
            const minPast = Math.floor(timeDifference / 60000);

            if (minPast > 0) {
                sessionStorage.removeItem("lastTimeStamp");

                const elmntForm = document.getElementById("generatedSurvey");
                elmntForm.action = "{{ Survey.surveyId }}/{{ Session.sessionId }}/submit/restart";
                elmntForm.submit();
            }
        }

        $(function() {
            $(document).mouseover(function () {
                const timeStamp = new Date();
                sessionStorage.setItem("lastTimeStamp", timeStamp);
            });

            timeChecker();
        });
    </script>
{% endblock %}