{% extends 'pages/manager.html.twig' %}

{% block title %}Page results{% endblock %}

{% block display %}
    <div class="content-page">
        <!-- Start Top Bar -->
        <div class="topbar">
            <nav class="navbar-custom">
                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left disable-btn">
                            <i class="fa fa-bars"></i>
                        </button>
                    </li>
                    <li>
                        <div class="page-title-box">
                            <h4 id="managerId" class="panelTitle">Survey Results</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active"></li>
                            </ol>
                        </div>
                    </li>
                </ul>
            </nav>
        </div> <!-- Top Bar -->

        <!-- Start Page content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card-box table-responsive">
                            <h4 class="header-title">View the survey results</h4>
                            <p class="text-muted m-b-30">
                                <a href="{{ path('displayResults', {surveyId : survey.surveyId}) }}" class="btn btn-primary">Go Back</a>
                            </p>
                            {% if answeredQuestions %}
                                {% for question in questions %}
                                    <table id="dataTableResult{{ loop.index }}" class="table table-striped table-bordered dt-responsive nowrap dataTableResults">
                                        <thead>
                                            <tr>
                                                <td colspan="5">{{ question.questionNumber }} - {{ question.questionTitle }} <h4> Weighting: {{question.weighting}} </h4></td>
                                            </tr>
                                            <tr>
                                                <th>Answer</th>
                                                <th>Answertype</th>
                                                <th>Date</th>
                                                <th>Session</th>
                                                <th>Location</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for answeredQuestion in answeredQuestions %}
{#                                                if answer.answerId == answeredQuestion.answerId.__ToInt() and#}
                                                {% for question in questions if question.questionId == answeredQuestion.questionId.__toInt() %}

{#                                                    {% for answer in answers if answer.answerId == answer.questionId.__toInt() %}#}
                                                    <tr>
                                                        <td>{{ answeredQuestion.answeredAnswerValue }}</td>
                                                        <td>{{ answeredQuestion.questionId.answerTypes }}</td>
                                                        <td>{{ answeredQuestion.createdDate|date("m/d/Y") }}</td>
                                                        <td>{{ answeredQuestion.sessionId.__ToInt() }}</td>
                                                        <td>{{ locations.address }}</td>
                                                    </tr>
{#                                                        {% endfor %}#}
                                                {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% endfor %}
                                {% else %}
                                <p> No data </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Page content -->
    </div>

    <!-- Start Footer -->
    <footer class="footer">
        2018 - 2019 © Mediatastisch. <span class="d-none d-sm-inline-block"> - <a href="https://mediatastisch.nl/" target="_blank"> mediatastisch.nl </a></span>
    </footer> <!-- Footer -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>

    <!-- Required data table js -->
    <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Required data table buttons js -->
    <script src="{{ asset('plugins/datatables/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/jszip.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/pdfmake.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/vfs_fonts.js') }}"></script>
    <script src="{{ asset('plugins/datatables/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/buttons.print.min.js') }}"></script>

    <!-- Adds the 'copy', 'excel' and 'PDF' buttons to every table -->
    <script>
        $(document).ready(function() {
            const dataTables = document.getElementsByClassName('dataTableResults');

            for (let i = 1; i < dataTables.length + 1; i++) {
                const dataTable = $('#dataTableResult' + i).DataTable({
                    lengthChange: false,
                    buttons: ['copy', 'excel', 'pdf']
                });

                dataTable.buttons().container().appendTo('#dataTableResult' + i);
            }
        });
    </script>
{%  endblock %}