{% extends 'pages/manager.html.twig' %}

{% block title %}Edit a survey{% endblock %}

{% block display %}
    <div class="content">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="card-box">
                        <h4 class="header-title">Edit survey</h4>
                        <p class="text-muted m-b-30">

                        </p>

                        <div class="row">
                            <div class="col-12">
                                <div class="p-20">

                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            {{ form_start(form) }}

                                            {{ form_widget(form) }}

                                            {{ form_end(form) }}
                                        </div>
                                    </div>

                                    <a href="{{ path('surveys') }}" class="btn btn-primary m-2" style="float:right;">Go Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}