{% extends 'pages/manager.html.twig' %}

{% block title %}Show survey{% endblock %}

{% block display %}
    <div class="content-page">
        <!-- Start Top Bar -->
        <div class="topbar">
            <nav class="navbar-custom">
                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left disable-btn">
                            <i class="fa fa-bars"></i>
                        </button>
                    </li>
                    <li>
                        <div class="page-title-box">
                            <h4 id="managerId" class="panelTitle"></h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">View or edit a Survey</li>
                            </ol>
                        </div>
                    </li>
                </ul>
            </nav>
        </div> <!-- Top Bar -->

        <!-- Start Page content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <h4 class="header-title">Show Survey</h4>
                            <p class="text-muted m-b-30">
                                <a href="{{ path('surveys') }}" class="btn btn-primary">Go Back</a>
                                <a href="{{ Survey.surveyId }}/newPage" class="btn btn-primary">New Page</a>
                            </p>
                            {% if Survey %}
                                <table id="dataTable" class="table table-bordered dt-responsive nowrap">
                                    <thead>
                                        <tr>
                                            <th>Survey title</th>
                                            <th>Survey description</th>
                                            <th>Version</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td> {{ Survey.surveyTitle }}</td>
                                            <td> {{ Survey.surveyDescription }}</td>
                                            <td> {{ Survey.surveyVersion }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            {% else %}
                                <p>Error with gathering the Survey information</p>
                            {% endif %}

                            <h4 class="header-title">Show Pages, Questions and Answers</h4>
                            <p class="text-muted m-b-30">Here you will see all the Pages, Questions and answers for this survey.</p>

                            <table id="dataTable" class="table table-bordered dt-responsive nowrap">
                                <tbody>
                                    {% for page in Pages %}
                                        <tr style="background-color: #e1e1e1">
                                            <td>
                                                <h4><b>Page {{ page.pageNumber }} - {{ page.pageTitle }}</b></h4>
                                            </td>
                                            <td>
                                                <a href="{{ Survey.surveyId }}/{{ page.pageId }}/newQuestion" class="btn btn-primary">New Question</a>
                                            </td>
                                            <td>
                                                <a href="{{ Survey.surveyId }}/editPage/{{ page.pageId }}" class="btn btn-light">Edit Page</a>
                                            </td>
                                            <td>
                                                <a class="btn btn-danger text-white" onclick="del({{ page.pageId }}, 'page')">Delete</a>
                                            </td>
                                        </tr>
                                        {% for question in Questions if question.pageId.__toInt() == page.pageId %}
                                            <tr style="background-color: #f5f5f5">
                                                <td>
                                                    <h4><b>Question {{ question.questionNumber }} - {{ question.questionTitle }}, {{ question.answerTypes }}{#Question type = {{ question.answerId.answerType }} #}</b></h4>
                                                </td>
                                                <td>
                                                    <a href="{{ Survey.surveyId }}/newAnswer/{{ question.questionId }}" class="btn btn-primary">New answer</a>
                                                </td>
                                                <td>
                                                    <a href="{{ Survey.surveyId }}/Question/edit/{{ question.questionId }}" class="btn btn-light">Edit Question</a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-danger text-white" onclick="del({{ question.questionId }}, 'question')">Delete</a>
                                                </td>
                                            </tr>
                                            {% for answer in Answers if answer.questionId.__toInt() == question.questionId %}
                                                <tr>
                                                    <td colspan="2">{{ answer.answerValue }}</td>
                                                    <td>
                                                        <a href="{{ Survey.surveyId }}/Answer/edit/{{ answer.answerId }}" class="btn btn-light" style="padding: .375rem 1.36rem">Edit Answer</a>
                                                    </td>
                                                    <td>
                                                        <a href="#" class="btn btn-danger" onclick="del({{ answer.answerId }}, 'answer')">Delete</a>
                                                    </td>
                                                </tr>
                                            {% else %}
                                                <td colspan="4">
                                                    <p><b>There are currently no answers to display for this question</b></p>
                                                </td>
                                            {% endfor %}
                                        {% else %}
                                            <td colspan="4">
                                                <p><b>There are currently no questions to display for this page</b></p>
                                            </td>
                                        {% endfor %}
                                        <tr>
                                            <td colspan="4">
                                                <br>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <td colspan="4">
                                            <p><b>There are currently no pages to display</b></p>
                                        </td>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Page content -->
    </div>

    <!-- Start Footer -->
    <footer class="footer">
        2018 - 2019 © Mediatastisch. <span class="d-none d-sm-inline-block"> - <a href="https://mediatastisch.nl/" target="_blank"> mediatastisch.nl </a></span>
    </footer> <!-- Footer -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/main.js') }}"></script>
{%  endblock %}