{% extends 'pages/manager.html.twig' %}

{% block title %}Edit Account{% endblock %}

{% block display %}
    <div class="content-page">
        <!-- Start Top Bar -->
        <div class="topbar">
            <nav class="navbar-custom">
                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left disable-btn">
                            <i class="fa fa-bars"></i>
                        </button>
                    </li>
                    <li>
                        <div class="page-title-box">
                            <h4 id="managerId" class="panelTitle"></h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active">Edit your account</li>
                            </ol>
                        </div>
                    </li>
                </ul>
            </nav>
        </div> <!-- Top Bar -->

        <!-- Start Page content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <h4 class="header-title">Edit Account</h4>
                            <p class="text-muted m-b-30">
                                <a href="{{ path('manager') }}" class="btn btn-primary">Go Back</a>
                            </p>
                            <div class="row">
                                <div class="col-12">
                                    <div class="p-20">
                                        <ul class="nav nav-tabs tabs-bordered">
                                            <li class="nav-item">
                                                <a href="#nav-edit-email" data-toggle="tab" aria-expanded="false" class="nav-link active">
                                                    <img src="{{ asset('images/icons/edit-icon.png') }}"><span class="d-none d-sm-inline-block ml-2">Edit email</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#nav-edit-password" data-toggle="tab" aria-expanded="true" class="nav-link">
                                                    <img src="{{ asset('images/icons/edit-icon.png') }}"><span class="d-none d-sm-inline-block ml-2">Edit password</span>
                                                </a>
                                            </li>
                                        </ul>
{#                                        <nav>#}
{#                                            <div class="nav nav-tabs" id="nav-tab" role="tablist">#}
{#                                                <a class="nav-item nav-link active" id="edit-email" data-toggle="tab" href="#nav-edit-email" role="tab" aria-controls="nav-edit-email" aria-selected="true">Edit email</a>#}
{#                                                <a class="nav-item nav-link" id="edit-password" data-toggle="tab" href="#nav-edit-password" role="tab" aria-controls="nav-edit-password" aria-selected="false">Edit password</a>#}
{#                                            </div>#}
{#                                        </nav>#}
                                        <div class="tab-content" id="nav-tabContent">
                                            <div class="tab-pane fade show active" id="nav-edit-email" role="tabpanel" aria-labelledby="nav-edit-email">
                                                <p>Edit Email</p>
                                                <div class="form-group row">
                                                    <div class="col-sm-10 mx-auto">
                                                        {{ form_start(editEmailForm) }}
                                                        {{ form_widget(editEmailForm) }}
                                                        {{ form_end(editEmailForm) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="nav-edit-password" role="tabpanel" aria-labelledby="nav-edit-password">
                                                <p>Edit Password</p>
                                                <div class="form-group row">
                                                    <div class="col-sm-10 mx-auto">
                                                        {{ form_start(editPasswordForm) }}
                                                        {{ form_widget(editPasswordForm) }}
                                                        {{ form_end(editPasswordForm) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Page content -->
    </div>

    <!-- Start Footer -->
    <footer class="footer">
        2018 - 2019 © Mediatastisch. <span class="d-none d-sm-inline-block"> - <a href="https://mediatastisch.nl/" target="_blank"> mediatastisch.nl </a></span>
    </footer> <!-- Footer -->
{% endblock %}